In [2]:
import pandas as pd
import ast
import json

%load_ext autoreload
%autoreload 2
import functions
import re
import warnings
warnings.filterwarnings("ignore")

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [3]:
ruta_review = 'data/australian_user_reviews.json'

# Se lee de cada línea del dataset
filas_review = []
with open(ruta_review, encoding='utf-8') as f:
    for line in f.readlines():
        filas_review.append(ast.literal_eval(line))

# Se convierte en dataframe
df_reviews = pd.DataFrame(filas_review)
df_reviews

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."
...,...,...,...
25794,76561198306599751,http://steamcommunity.com/profiles/76561198306...,"[{'funny': '', 'posted': 'Posted May 31.', 'la..."
25795,Ghoustik,http://steamcommunity.com/id/Ghoustik,"[{'funny': '', 'posted': 'Posted June 17.', 'l..."
25796,76561198310819422,http://steamcommunity.com/profiles/76561198310...,"[{'funny': '1 person found this review funny',..."
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,"[{'funny': '', 'posted': 'Posted July 21.', 'l..."
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"[{'funny': '1 person found this review funny',..."

In [4]:
#se verifian los tipos de datos

functions.tipo_dato(df_reviews)

  nombre_campo         tipo_dato  nulo  no_nulo%  nulo%
0      user_id   [<class 'str'>]     0     100.0    0.0
1     user_url   [<class 'str'>]     0     100.0    0.0
2      reviews  [<class 'list'>]     0     100.0    0.0

In [5]:
#se revisan si hay duplicados
duplicados=functions.duplicados(df_reviews,"user_id")
duplicados

,user_id,user_url,reviews
12888,05041129,http://steamcommunity.com/id/05041129,"[{'funny': '', 'posted': 'Posted May 18, 2015...."
5250,05041129,http://steamcommunity.com/id/05041129,"[{'funny': '', 'posted': 'Posted May 18, 2015...."
3133,111222333444555666888,http://steamcommunity.com/id/11122233344455566...,"[{'funny': '', 'posted': 'Posted December 22, ..."
3134,111222333444555666888,http://steamcommunity.com/id/11122233344455566...,"[{'funny': '', 'posted': 'Posted December 22, ..."
4139,29123,http://steamcommunity.com/id/29123,"[{'funny': '', 'posted': 'Posted March 26.', '..."
...,...,...,...
2721,xXAussieRockXx,http://steamcommunity.com/id/xXAussieRockXx,"[{'funny': '', 'posted': 'Posted July 17, 2015..."
2680,yolofaceguy,http://steamcommunity.com/id/yolofaceguy,"[{'funny': '', 'posted': 'Posted October 31, 2..."
17916,yolofaceguy,http://steamcommunity.com/id/yolofaceguy,"[{'funny': '', 'posted': 'Posted October 31, 2..."
5855,zeroblade,http://steamcommunity.com/id/zeroblade,"[{'funny': '', 'posted': 'Posted November 30, ..."
13975,zeroblade,http://steamcommunity.com/id/zeroblade,"[{'funny': '', 'posted': 'Posted November 30, ..."

In [6]:
#se Revisan los comentarios de algunos usuarios para revisar si son repetidos o no.
user_id = "111222333444555666888"
user_reviews = duplicados[duplicados["user_id"] == user_id]["reviews"]
for review_list in user_reviews:
    for review in review_list:
        print(review['review'])
    print('-' * 40)

Eu achei o jogo divertido e legal,ainda mais jogando com os amigos.Além de ter várias conquistas que o tornam mais prazeroso e desafiador de jogar!!!Compre que você não vai se arrepender...
+/-
Jogo muito divertido e irritante,recomendo a todos!!!!!
Jogo muito bom e engraçado,especialmente para você que é fã do programa 'South Park"...
Jogo muito viciante e variado...Enfim,recomendo a todos!
Good game when you can make your house.Hahaha!
Esse jogo me impressionou.Comprei o triple pack,escolhi esse para zerar primeiro.Os gráficos são incríveis,efeitos visuais bons,uma história envolvente e um pouco confusa/difícil de entender,com uma trilha sonora ótima.Recomendo a todos.Obs:Comprem na promoção ta caro para ******...
----------------------------------------
Eu achei o jogo divertido e legal,ainda mais jogando com os amigos.Além de ter várias conquistas que o tornam mais prazeroso e desafiador de jogar!!!Compre que você não vai se arrepender...
+/-
Jogo muito divertido e irritante,recomendo a todos!!!!!
Jogo muito bom e engraçado,especialmente para você que é fã do programa 'South Park"...
Jogo muito viciante e variado...Enfim,recomendo a todos!
Good game when you can make your house.Hahaha!
Esse jogo me impressionou.Comprei o triple pack,escolhi esse para zerar primeiro.Os gráficos são incríveis,efeitos visuais bons,uma história envolvente e um pouco confusa/difícil de entender,com uma trilha sonora ótima.Recomendo a todos.Obs:Comprem na promoção ta caro para ******...
----------------------------------------

In [7]:
user_id = "yolofaceguy"
user_reviews = duplicados[duplicados["user_id"] == user_id]["reviews"]
for review_list in user_reviews:
    for review in review_list:
        print(review['review'])
    print('-' * 40)

from the creaters of the walking dead, i present to you, the wolf among us. a twisted an unhappy place where crimes are made in the town of the fables. Ecperience one of the most mind-bending, jaw-dropping twists you will see in all of gaming history...well, some of gaming history. SPOILERS: i really liked how bigby turns into his true form to fight all the bloody marys... its just like when neo fought all the agent smiths in the matrix. what i didnt really like is when i chose to lock the crooked man up it glitches my game and i start from the near begining where bigby fought the crooked man's crew, exept the guy who runs a strip club wasnt there. so i was really confused. but anyway i really recommend this game if you want twists and ♥♥♥♥ed up scenes.
this game is awesome,this game is ♥♥♥♥ed up and this game is so sad and depressing. if you want these types of games i would strongly reccomend youto buy it. its worth your money
----------------------------------------
from the creaters of the walking dead, i present to you, the wolf among us. a twisted an unhappy place where crimes are made in the town of the fables. Ecperience one of the most mind-bending, jaw-dropping twists you will see in all of gaming history...well, some of gaming history. SPOILERS: i really liked how bigby turns into his true form to fight all the bloody marys... its just like when neo fought all the agent smiths in the matrix. what i didnt really like is when i chose to lock the crooked man up it glitches my game and i start from the near begining where bigby fought the crooked man's crew, exept the guy who runs a strip club wasnt there. so i was really confused. but anyway i really recommend this game if you want twists and ♥♥♥♥ed up scenes.
this game is awesome,this game is ♥♥♥♥ed up and this game is so sad and depressing. if you want these types of games i would strongly reccomend youto buy it. its worth your money
----------------------------------------

In [8]:
user_id = "xXAussieRockXx"
user_reviews = duplicados[duplicados["user_id"] == user_id]["reviews"]
for review_list in user_reviews:
    for review in review_list:
        print(review['review'])
    print('-' * 40)

YES YES YES!This game is utterly amazing! For a free to play MMOARPG(Massive Multiplayer Online Action Role Playing Game) this game is by far the best in my opinion! Gameplay that keeps you wanting to do more dungeons and sailing around the 'Hub World'  building your own Cornerstone house to show off to others!?This game is hands down one of the best out there in terms of FTP!
Far Cry 3 is by far right now one of my favourite FPS's and I think it always will be. Good bullet physics, stealth and studying movement patterns to see where the pirate will move to across the camp to become an advantage in staging your all-out assault or a stealth take. Sniping the men who are following you because you blew up their convoy of jeeps. And let's not forget to mention. Those graphics on the explosions are the best I've seen of every game that has chaos in it. Not only is their one huge island full of mysterious temples and WWII ruins, but also a second large island and a completely separate island for the co-op mode. And of what I've played, multiplayer is also great fun.
----------------------------------------
YES YES YES!This game is utterly amazing! For a free to play MMOARPG(Massive Multiplayer Online Action Role Playing Game) this game is by far the best in my opinion! Gameplay that keeps you wanting to do more dungeons and sailing around the 'Hub World'  building your own Cornerstone house to show off to others!?This game is hands down one of the best out there in terms of FTP!
Far Cry 3 is by far right now one of my favourite FPS's and I think it always will be. Good bullet physics, stealth and studying movement patterns to see where the pirate will move to across the camp to become an advantage in staging your all-out assault or a stealth take. Sniping the men who are following you because you blew up their convoy of jeeps. And let's not forget to mention. Those graphics on the explosions are the best I've seen of every game that has chaos in it. Not only is their one huge island full of mysterious temples and WWII ruins, but also a second large island and a completely separate island for the co-op mode. And of what I've played, multiplayer is also great fun.
----------------------------------------

In [9]:
#Se observa que los comentarios son los mismos, asique se procede a eliminar los duplicados

df_reviews = df_reviews.drop_duplicates(subset='user_id', keep='first')
functions.duplicados(df_reviews, 'user_id')
df_reviews.reset_index(drop=True)

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."
...,...,...,...
25480,76561198306599751,http://steamcommunity.com/profiles/76561198306...,"[{'funny': '', 'posted': 'Posted May 31.', 'la..."
25481,Ghoustik,http://steamcommunity.com/id/Ghoustik,"[{'funny': '', 'posted': 'Posted June 17.', 'l..."
25482,76561198310819422,http://steamcommunity.com/profiles/76561198310...,"[{'funny': '1 person found this review funny',..."
25483,76561198312638244,http://steamcommunity.com/profiles/76561198312...,"[{'funny': '', 'posted': 'Posted July 21.', 'l..."
25484,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"[{'funny': '1 person found this review funny',..."

In [10]:
# Se revisa como esta compuesto review
df_reviews['reviews'][0]

[{'funny': '',
  'posted': 'Posted November 5, 2011.',
  'last_edited': '',
  'item_id': '1250',
  'helpful': 'No ratings yet',
  'recommend': True,
  'review': 'Simple yet with great replayability. In my opinion does "zombie" hordes and team work better than left 4 dead plus has a global leveling system. Alot of down to earth "zombie" splattering fun for the whole family. Amazed this sort of FPS is so rare.'},
 {'funny': '',
  'posted': 'Posted July 15, 2011.',
  'last_edited': '',
  'item_id': '22200',
  'helpful': 'No ratings yet',
  'recommend': True,
  'review': "It's unique and worth a playthrough."},
 {'funny': '',
  'posted': 'Posted April 21, 2011.',
  'last_edited': '',
  'item_id': '43110',
  'helpful': 'No ratings yet',
  'recommend': True,
  'review': 'Great atmosphere. The gunplay can be a bit chunky at times but at the end of the day this game is definitely worth it and I hope they do a sequel...so buy the game so I get a sequel!'}]

In [11]:
#Se observa que es una columna anidada, se busca generar un dataframe con estos datos.
df_reviews2 = pd.json_normalize(df_reviews["reviews"])
df_reviews2

,0,1,2,3,4,5,6,7,8,9
0,"{'funny': '', 'posted': 'Posted November 5, 20...","{'funny': '', 'posted': 'Posted July 15, 2011....","{'funny': '', 'posted': 'Posted April 21, 2011...",None,None,None,None,None,None,None
1,"{'funny': '', 'posted': 'Posted June 24, 2014....","{'funny': '', 'posted': 'Posted September 8, 2...","{'funny': '', 'posted': 'Posted November 29, 2...",None,None,None,None,None,None,None
2,"{'funny': '', 'posted': 'Posted February 3.', ...","{'funny': '', 'posted': 'Posted December 4, 20...","{'funny': '', 'posted': 'Posted November 3, 20...","{'funny': '', 'posted': 'Posted October 15, 20...","{'funny': '', 'posted': 'Posted October 15, 20...","{'funny': '', 'posted': 'Posted October 15, 20...",None,None,None,None
3,"{'funny': '', 'posted': 'Posted October 14, 20...","{'funny': '', 'posted': 'Posted July 28, 2012....","{'funny': '', 'posted': 'Posted June 2, 2012.'...","{'funny': '', 'posted': 'Posted June 29, 2014....","{'funny': '', 'posted': 'Posted November 22, 2...","{'funny': '', 'posted': 'Posted February 23, 2...",None,None,None,None
4,"{'funny': '3 people found this review funny', ...","{'funny': '1 person found this review funny', ...","{'funny': '2 people found this review funny', ...","{'funny': '', 'posted': 'Posted July 11, 2013....",None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...
25480,"{'funny': '', 'posted': 'Posted May 31.', 'las...",None,None,None,None,None,None,None,None,None
25481,"{'funny': '', 'posted': 'Posted June 17.', 'la...",None,None,None,None,None,None,None,None,None
25482,"{'funny': '1 person found this review funny', ...",None,None,None,None,None,None,None,None,None
25483,"{'funny': '', 'posted': 'Posted July 21.', 'la...","{'funny': '', 'posted': 'Posted July 10.', 'la...","{'funny': '', 'posted': 'Posted July 10.', 'la...","{'funny': '', 'posted': 'Posted July 8.', 'las...",None,None,None,None,None,None
25484,"{'funny': '1 person found this review funny', ...","{'funny': '', 'posted': 'Posted July 20.', 'la...","{'funny': '', 'posted': 'Posted July 2.', 'las...",None,None,None,None,None,None,None

In [12]:
#Con esta transformacion se pierden el user_id y user_url, pero mantienen la posicion, por lo tanto se puedem concatenar.

df_reviews2 = pd.concat([df_reviews[["user_id", "user_url"]], df_reviews2],axis=1)
df_reviews2

,user_id,user_url,0,1,2,3,4,5,6,7,8,9
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'funny': '', 'posted': 'Posted November 5, 20...","{'funny': '', 'posted': 'Posted July 15, 2011....","{'funny': '', 'posted': 'Posted April 21, 2011...",None,None,None,None,None,None,None
1,js41637,http://steamcommunity.com/id/js41637,"{'funny': '', 'posted': 'Posted June 24, 2014....","{'funny': '', 'posted': 'Posted September 8, 2...","{'funny': '', 'posted': 'Posted November 29, 2...",None,None,None,None,None,None,None
2,evcentric,http://steamcommunity.com/id/evcentric,"{'funny': '', 'posted': 'Posted February 3.', ...","{'funny': '', 'posted': 'Posted December 4, 20...","{'funny': '', 'posted': 'Posted November 3, 20...","{'funny': '', 'posted': 'Posted October 15, 20...","{'funny': '', 'posted': 'Posted October 15, 20...","{'funny': '', 'posted': 'Posted October 15, 20...",None,None,None,None
3,doctr,http://steamcommunity.com/id/doctr,"{'funny': '', 'posted': 'Posted October 14, 20...","{'funny': '', 'posted': 'Posted July 28, 2012....","{'funny': '', 'posted': 'Posted June 2, 2012.'...","{'funny': '', 'posted': 'Posted June 29, 2014....","{'funny': '', 'posted': 'Posted November 22, 2...","{'funny': '', 'posted': 'Posted February 23, 2...",None,None,None,None
4,maplemage,http://steamcommunity.com/id/maplemage,"{'funny': '3 people found this review funny', ...","{'funny': '1 person found this review funny', ...","{'funny': '2 people found this review funny', ...","{'funny': '', 'posted': 'Posted July 11, 2013....",None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
17819,NaN,NaN,"{'funny': '', 'posted': 'Posted July 12, 2014....",None,None,None,None,None,None,None,None,None
17916,NaN,NaN,"{'funny': '', 'posted': 'Posted December 27, 2...","{'funny': '', 'posted': 'Posted September 2, 2...","{'funny': '', 'posted': 'Posted August 23, 201...",None,None,None,None,None,None,None
18028,NaN,NaN,"{'funny': '', 'posted': 'Posted September 22, ...",None,None,None,None,None,None,None,None,None
18234,NaN,NaN,"{'funny': '', 'posted': 'Posted July 7, 2014.'...",None,None,None,None,None,None,None,None,None
18309,NaN,NaN,"{'funny': '', 'posted': 'Posted January 27.', ...","{'funny': '', 'posted': 'Posted January 27.', ...","{'funny': '', 'posted': 'Posted January 27.', ...","{'funny': '', 'posted': 'Posted January 19.', ...","{'funny': '', 'posted': 'Posted January 3.', '...",None,None,None,None,None

In [13]:
#Se utiliza pd.melt para hacer filas con los registros de la columna
df_reviews2 = pd.melt(df_reviews2,id_vars =["user_id","user_url"],
                     value_vars=list(range(9)),
                     value_name="reviews")

In [14]:
#Se revisan los datos de algunos usuarios

In [15]:
df_reviews2[df_reviews2['user_id']=='doctr']

,user_id,user_url,variable,reviews
3,doctr,http://steamcommunity.com/id/doctr,0,"{'funny': '', 'posted': 'Posted October 14, 20..."
25802,doctr,http://steamcommunity.com/id/doctr,1,"{'funny': '', 'posted': 'Posted July 28, 2012...."
51601,doctr,http://steamcommunity.com/id/doctr,2,"{'funny': '', 'posted': 'Posted June 2, 2012.'..."
77400,doctr,http://steamcommunity.com/id/doctr,3,"{'funny': '', 'posted': 'Posted June 29, 2014...."
103199,doctr,http://steamcommunity.com/id/doctr,4,"{'funny': '', 'posted': 'Posted November 22, 2..."
128998,doctr,http://steamcommunity.com/id/doctr,5,"{'funny': '', 'posted': 'Posted February 23, 2..."
154797,doctr,http://steamcommunity.com/id/doctr,6,None
180596,doctr,http://steamcommunity.com/id/doctr,7,None
206395,doctr,http://steamcommunity.com/id/doctr,8,None

In [16]:

df_reviews2[df_reviews2['user_id']=='js41637']

,user_id,user_url,variable,reviews
1,js41637,http://steamcommunity.com/id/js41637,0,"{'funny': '', 'posted': 'Posted June 24, 2014...."
25800,js41637,http://steamcommunity.com/id/js41637,1,"{'funny': '', 'posted': 'Posted September 8, 2..."
51599,js41637,http://steamcommunity.com/id/js41637,2,"{'funny': '', 'posted': 'Posted November 29, 2..."
77398,js41637,http://steamcommunity.com/id/js41637,3,None
103197,js41637,http://steamcommunity.com/id/js41637,4,None
128996,js41637,http://steamcommunity.com/id/js41637,5,None
154795,js41637,http://steamcommunity.com/id/js41637,6,None
180594,js41637,http://steamcommunity.com/id/js41637,7,None
206393,js41637,http://steamcommunity.com/id/js41637,8,None

In [17]:
#Se observan valores None, lo cual se decide eliminar.
df_reviews2.dropna(inplace=True)

In [18]:
#se separan por columnas las reviews
df_reviews = df_reviews2["reviews"].apply(pd.Series,dtype="object")
df_reviews = df_reviews.add_prefix('reviews_')

In [19]:
df_reviews

,reviews_funny,reviews_posted,reviews_last_edited,reviews_item_id,reviews_helpful,reviews_recommend,reviews_review
0,,"Posted November 5, 2011.",,1250,No ratings yet,True,Simple yet with great replayability. In my opi...
1,,"Posted June 24, 2014.",,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...
2,,Posted February 3.,,248820,No ratings yet,True,A suitably punishing roguelike platformer. Wi...
3,,"Posted October 14, 2013.",,250320,2 of 2 people (100%) found this review helpful,True,This game... is so fun. The fight sequences ha...
4,3 people found this review funny,"Posted April 15, 2014.",,211420,35 of 43 people (81%) found this review helpful,True,Git gud
...,...,...,...,...,...,...,...
231291,,"Posted August 15, 2014.","Last edited November 3, 2014.",440,No ratings yet,True,TF2 is alot of fun and its really good but the...
231293,,"Posted August 2, 2014.",,304930,No ratings yet,True,Fun game with friends
231419,,"Posted July 31, 2015.",,265630,No ratings yet,True,So Fun!! :D
231499,,"Posted December 20, 2015.",,304050,No ratings yet,True,"This game is great. The only thing is,Why cant..."
231501,,Posted February 3.,,570,0 of 2 people (0%) found this review helpful,False,DOTA 2.normal skill - 2ez for me>high skill - ...

In [20]:
#Se agregan user_id y user_url
df_reviews = pd.concat([df_reviews2[["user_id", "user_url"]], df_reviews],axis = 1)

In [21]:
#Hay espacios vacios que no son nulos, probablemente sean " "
df_reviews["reviews_last_edited"][0]

''

In [22]:
#se remplazan los espacios " " por None
df_reviews.replace('',None, inplace= True)

In [23]:
# se revisan los tipos de datos
functions.tipo_dato(df_reviews)

,nombre_campo,tipo_dato,nulo,no_nulo%,nulo%
0,user_id,[<class 'str'>],0,100.00,0.00
1,user_url,[<class 'str'>],0,100.00,0.00
2,reviews_funny,"[<class 'NoneType'>, <class 'str'>]",49498,13.76,86.24
3,reviews_posted,[<class 'str'>],0,100.00,0.00
4,reviews_last_edited,"[<class 'NoneType'>, <class 'str'>]",51499,10.28,89.72
5,reviews_item_id,[<class 'str'>],0,100.00,0.00
6,reviews_helpful,[<class 'str'>],0,100.00,0.00
7,reviews_recommend,[<class 'bool'>],0,100.00,0.00
8,reviews_review,"[<class 'str'>, <class 'NoneType'>]",30,99.95,0.05

In [24]:
# Hay un gran faltante de datos en reviews_funy y reviews_last_edited (mayor al 85%) por lo tanto se decidio eliminar esas columnas

df_reviews.drop(columns = ["reviews_funny" , "reviews_last_edited"], inplace=True)

In [25]:
#Se necesita que la fecha de la review tenga format YYYY-MM-DD. Se van a usar expresiones regulares para extrar la infromacion.
df_reviews["reviews_posted"] = df_reviews["reviews_posted"].apply(functions.conversion_fecha)

In [26]:
df_reviews

,user_id,user_url,reviews_posted,reviews_item_id,reviews_helpful,reviews_recommend,reviews_review
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,2011-11-05,1250,No ratings yet,True,Simple yet with great replayability. In my opi...
1,js41637,http://steamcommunity.com/id/js41637,2014-06-24,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...
2,evcentric,http://steamcommunity.com/id/evcentric,Formato invalido,248820,No ratings yet,True,A suitably punishing roguelike platformer. Wi...
3,doctr,http://steamcommunity.com/id/doctr,2013-10-14,250320,2 of 2 people (100%) found this review helpful,True,This game... is so fun. The fight sequences ha...
4,maplemage,http://steamcommunity.com/id/maplemage,2014-04-15,211420,35 of 43 people (81%) found this review helpful,True,Git gud
...,...,...,...,...,...,...,...
231291,How51,http://steamcommunity.com/id/How51,2014-08-15,440,No ratings yet,True,TF2 is alot of fun and its really good but the...
231293,76561198111410893,http://steamcommunity.com/profiles/76561198111...,2014-08-02,304930,No ratings yet,True,Fun game with friends
231419,zaza147,http://steamcommunity.com/id/zaza147,2015-07-31,265630,No ratings yet,True,So Fun!! :D
231499,lifeonhigh,http://steamcommunity.com/id/lifeonhigh,2015-12-20,304050,No ratings yet,True,"This game is great. The only thing is,Why cant..."
231501,EchoXSilence,http://steamcommunity.com/id/EchoXSilence,Formato invalido,570,0 of 2 people (0%) found this review helpful,False,DOTA 2.normal skill - 2ez for me>high skill - ...

In [27]:
#se revisa si hay review_posted hay formatos invalidos
df_reviews[df_reviews["reviews_posted"] == "Formato invalido"]

,user_id,user_url,reviews_posted,reviews_item_id,reviews_helpful,reviews_recommend,reviews_review
2,evcentric,http://steamcommunity.com/id/evcentric,Formato invalido,248820,No ratings yet,True,A suitably punishing roguelike platformer. Wi...
6,76561198079601835,http://steamcommunity.com/profiles/76561198079...,Formato invalido,730,0 of 1 people (0%) found this review helpful,True,ZIKA DO BAILE
7,MeaTCompany,http://steamcommunity.com/id/MeaTCompany,Formato invalido,730,No ratings yet,True,BEST GAME IN THE BLOODY WORLD
9,76561198156664158,http://steamcommunity.com/profiles/76561198156...,Formato invalido,252950,0 of 1 people (0%) found this review helpful,True,love it
10,76561198077246154,http://steamcommunity.com/profiles/76561198077...,Formato invalido,440,No ratings yet,True,mt bom
...,...,...,...,...,...,...,...
223569,76561198040184950,http://steamcommunity.com/profiles/76561198040...,Formato invalido,394690,No ratings yet,True,I cannot say much right now due to the game no...
226105,76561198046474248,http://steamcommunity.com/profiles/76561198046...,Formato invalido,234140,No ratings yet,True,"Oh what a day .., What a lovely day to play th..."
228109,dmitry_who,http://steamcommunity.com/id/dmitry_who,Formato invalido,376210,10 of 28 people (36%) found this review helpful,True,░░░░░░░░░░░█▀▀░░█░░░░░░░░░░░▄▀▀▀▀░░░░░█▄▄░░░░░...
229231,76561198079507136,http://steamcommunity.com/profiles/76561198079...,Formato invalido,730,No ratings yet,False,got VACed
231501,EchoXSilence,http://steamcommunity.com/id/EchoXSilence,Formato invalido,570,0 of 2 people (0%) found this review helpful,False,DOTA 2.normal skill - 2ez for me>high skill - ...

In [28]:
#Se observan 9771 filas con fecha invalida, son fechas que no se van a poder consultar desde la Api

In [29]:
# se eliminan los nulos de la columna reviews_review
df_reviews.dropna(subset=["reviews_review"],inplace= True)

In [30]:
#Se revisan los datos
functions.tipo_dato(df_reviews)

        nombre_campo         tipo_dato  nulo  no_nulo%  nulo%
0            user_id   [<class 'str'>]     0     100.0    0.0
1           user_url   [<class 'str'>]     0     100.0    0.0
2     reviews_posted   [<class 'str'>]     0     100.0    0.0
3    reviews_item_id   [<class 'str'>]     0     100.0    0.0
4    reviews_helpful   [<class 'str'>]     0     100.0    0.0
5  reviews_recommend  [<class 'bool'>]     0     100.0    0.0
6     reviews_review   [<class 'str'>]     0     100.0    0.0

In [31]:
#Se guarda el DataFrame en un archivo CSV
archivo = "data/australian_user_review.csv"
df_reviews.to_csv(archivo,index=False, encoding="utf-8")
print("Se guardo el archivo correctamente")

Se guardo el archivo correctamente